:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 0, 0, 0;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: stretch;
    justify-content: space-around;
    padding: 50px;
    height: fit-content;
}

.hocontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 50px;
    height: fit-content;
}

.hocontainernopad {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    text-align: center;
    justify-content: space-around;
    height: fit-content;
}

.sidecontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 100px;
    height: fit-content;
}

h1 {
    font-size: 120px;
}
h2 {
    font-size: 80px;
}
h3 {
    font-size: 50px;
}
p {
    font-size: 40px;
}

.lemon {
    font-family: "Lemon";
    font-feature-settings: "ss01" on;
}

.meshed {
    font-family: "Meshed";
}

@font-face {
    font-family: "Lemon"; /*Can be any text*/
    src: url("../fonts/Lemon-Bold.ttf");
}

@font-face {
    font-family: "Meshed"; /*Can be any text*/
    src: url("../fonts/MeshedDisplay-Bold.ttf");
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@media (min-width: 320px) and (max-width: 999px) {
    h1 {
        font-size: 65px;
    }
    h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 30px;
    }
    .sidecontainer {
        padding: 20px;
    }
}