.titleicon {
    height: 400px;
    width: 90%;
}

@media (prefers-color-scheme: dark) {
    .titleicon {
        filter: invert();
        flex-grow: 1;
        height: auto;
        width: auto;
    }
}
