.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    justify-content: space-around;
    padding: 50px;
}

.icon {
    height: 600px;
    width: 500px;
}

@media (prefers-color-scheme: dark) {
    .icon {
        filter: invert();
    }
}
