.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    justify-content: space-around;
}

.icon {
    height: 600px;
    width: 500px;
}

.heroText {
    padding: 70px;
    font-family: "Lemon";
    font-feature-settings: "ss01" on;
}
@font-face {
    font-family: "Lemon"; /*Can be any text*/
    src: url("../fonts/Lemon-Bold.ttf");
}
@media (prefers-color-scheme: dark) {
    .icon {
        filter: invert();
    }
}
